


<div id="header">
  <a href="/" id="logo">Easy File Share</a>
</div>
<input placeholder="Enter ANY File" class="searchInput"/>
<div>
  <ul id="menu">
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="/"><span>Server</span></a></li>
    <li><a href="/"><span>Files</span></a></li>
    <li><a href="/"><span>About us</span></a></li>
    <li><a href="/"><span>Contact</span></a></li>

  </ul>

<form action="upload.php" method="POST">

  <input type="file" multiple>
  <p>Drag your files here or click in this area.</p>
  <button type="submit">Upload</button>
</form>

</div>
